<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="lead buffer-bottom">
      <strong><%= t 'titles.errors_part_one' %> <%= t 'titles.errors_part_two', count: errors.count %></strong>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
