.event-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.event-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.event-description * {
  color: white;
}

.event-description a {
  color: #d0d0ff;
}

.event-description small {
  color: #e0e0e0;
}

.event-info-inner {
  background:rgba(0, 0, 0, 0.4);
}

.event-map {
  margin: 20px 0;
  width: 100%;
  height: 400px;
}

.delete-event {
  margin: 2rem 0 0 0;
  text-align: left;
  font-size: 13px;
}

.delete-event-link {
  color: red;
}

.delete-event-link:hover {
  color: #e89c0e;
}

.google-div {
  min-height: 400px;
}

.google-maps {
  width: 100%;
  height: 400px;
  border: 1px solid red;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.event-photos h3 {
  color: black;
  background-color: rgba(236, 236, 219, 0.8);
}

.event-photos {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 1px solid red;
  border-radius: 10px;
  padding: 2%;
}

.event-photos-gallery-uploaded {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.event-comments .btn, .event-subscriptions .btn {
  margin-top: 1rem;
}
