<h1><%= t 'titles.edit_profile' %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to t('button.change_password'), edit_user_registration_path %>
    </p>

    <div id="delete-profile">
        <%= link_to t('titles.delete_user'), @user, method: :delete, data: { confirm: t('titles.confirm_before_delete') } %>
    </div>
  </div>
</div>
