<h1><%= t 'titles.events' %></h1>

<div class="buffer-both">
  <%= link_to words_translate('button.create_event'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
