<% if photo.photo.url.present? %>
  <div class="event-photo buffer-both">
    <% image_title = "#{t('titles.add')} #{render partial: 'users/user', object: photo.user}" %>
    <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: { lightbox: 'event-photo', title: image_title } %>
    <% if current_user_can_edit?(photo) %>
      <%= link_to content_tag(:i, '', class: "bi bi-x-circle"),
                  event_photo_path(photo.event, photo),
                  method: :delete, data: { confirm: t('.destroy_confirm') } %>
    <% end %>
  </div>
<% end %>
